# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.pdb
*.log
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.obj
*.idb
*.sdf
*.exe
*.suo
*.opensdf
v2.5/lib/x64/Debug/g2.lib
v2.5/lib/x64/Release/g2.lib
tests/bin/x64/Debug/GEARPhysics.dll
*.exp
*.ilk
v2.5/lib/x64/Debug/GEARPhysics.dll
v2.5/lib/x64/Debug/GEARPhysics.lib
v2.5/lib/x64/Debug/GEAR.lib
v2.5/lib/x64/Debug/GEARCameras.dll
v2.5/lib/x64/Debug/GEARCameras.lib
v2.5/lib/x64/Debug/GEARCore.dll
v2.5/lib/x64/Debug/GEARCore.lib
bullet-2.82-r2704-modified-x64/
v2.5/GEAR Bullet Physics/ClassDiagram.cd
tests/bin/x64/Debug/newton.dll
tests/bin/x64/Release/GEARCameras.dll
tests/bin/x64/Release/GEARCore.dll
tests/bin/x64/Release/cg.dll
tests/bin/x64/Release/cgGL.dll
tests/bin/x64/Release/newton.dll
v2.5/include/Newton/___pthreads.2/manual/
v2.5/include/Newton/___pthreads.2/tests/Bmakefile
v2.5/include/Newton/___pthreads.2/tests/
v2.5/lib/x64/Release/GEAR.lib
v2.5/lib/x64/Release/GEARBulletPhysics.lib
v2.5/lib/x64/Release/GEARCameras.dll
v2.5/lib/x64/Release/GEARCameras.lib
v2.5/lib/x64/Release/GEARCore.dll
v2.5/lib/x64/Release/GEARCore.lib
v2.5/lib/x64/Release/GEARPhysics.lib
v2.5/lib/x64/Debug/GEARBulletPhysics.lib
v2.5/lib/x64/Debug/GEARNewtonPhysics.lib
