# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.pdb
*.log
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.obj
*.idb
*.sdf
*.exe
*.suo
*.opensdf
v2.5/lib/x64/Debug/g2.lib
v2.5/lib/x64/Release/g2.lib
tests/bin/x64/Debug/GEARPhysics.dll
*.exp
*.ilk
v2.5/lib/x64/Debug/GEARPhysics.dll
v2.5/lib/x64/Debug/GEARPhysics.lib
v2.5/lib/x64/Debug/GEAR.lib
v2.5/lib/x64/Debug/GEARCameras.dll
v2.5/lib/x64/Debug/GEARCameras.lib
v2.5/lib/x64/Debug/GEARCore.dll
v2.5/lib/x64/Debug/GEARCore.lib
bullet-2.82-r2704-modified-x64/
v2.5/GEAR Bullet Physics/ClassDiagram.cd
tests/bin/x64/Debug/newton.dll
tests/bin/x64/Release/GEARCameras.dll
tests/bin/x64/Release/GEARCore.dll
tests/bin/x64/Release/cg.dll
tests/bin/x64/Release/cgGL.dll
tests/bin/x64/Release/newton.dll
v2.5/include/Newton/___pthreads.2/manual/
v2.5/include/Newton/___pthreads.2/tests/Bmakefile
v2.5/include/Newton/___pthreads.2/tests/
v2.5/lib/x64/Release/GEAR.lib
v2.5/lib/x64/Release/GEARBulletPhysics.lib
v2.5/lib/x64/Release/GEARCameras.dll
v2.5/lib/x64/Release/GEARCameras.lib
v2.5/lib/x64/Release/GEARCore.dll
v2.5/lib/x64/Release/GEARCore.lib
v2.5/lib/x64/Release/GEARPhysics.lib
v2.5/lib/x64/Debug/GEARBulletPhysics.lib
v2.5/lib/x64/Debug/GEARNewtonPhysics.lib
tests/bin/x64/Debug/DevIL.dll
tests/bin/x64/Debug/SDL2.dll
tests/bin/x64/Debug/glew32.dll
tests/bin/x64/Debug/GEARCameras.dll
tests/bin/x64/Debug/GEARCore.dll
v2.5/lib/x64/Release/GEARNewtonPhysics.lib
cegui-0.8.3/
cegui-deps-0.8.x-src/
newton-dynamics-3.11/
tests/UI Test - CEGUI/UI Test - CEGUI.vcxproj.user
tests/bin/x64/Debug/CEGUIBase-0_d.dll
tests/bin/x64/Debug/CEGUIExpatParser_d.dll
tests/bin/x64/Debug/CEGUIOpenGLRenderer-0_d.dll
tests/bin/x64/Debug/CEGUISILLYImageCodec_d.dll
tests/bin/x64/Debug/GEARCegui.dll
tests/bin/x64/Debug/SILLY_d.dll
tests/bin/x64/Debug/expat_d.dll
tests/bin/x64/Debug/freetype_d.dll
tests/bin/x64/Debug/glew_d.dll
tests/bin/x64/Debug/jpeg_d.dll
tests/bin/x64/Debug/libpng_d.dll
tests/bin/x64/Debug/pcre_d.dll
tests/bin/x64/Debug/zlib_d.dll
tests/bin/x64/Release/CEGUIBase-0.dll
tests/bin/x64/Release/CEGUIExpatParser.dll
tests/bin/x64/Release/CEGUIOpenGLRenderer-0.dll
tests/bin/x64/Release/CEGUISILLYImageCodec.dll
tests/bin/x64/Release/DevIL.dll
tests/bin/x64/Release/GEARCegui.dll
tests/bin/x64/Release/SDL2.dll
tests/bin/x64/Release/SILLY.dll
tests/bin/x64/Release/expat.dll
tests/bin/x64/Release/freetype.dll
tests/bin/x64/Release/glew.dll
tests/bin/x64/Release/jpeg.dll
tests/bin/x64/Release/libpng.dll
tests/bin/x64/Release/pcre.dll
tests/bin/x64/Release/zlib.dll
v2.5/GEAR CEGUI/GEAR CEGUI.vcxproj.user
v2.5/lib/x64/Debug/GEARCegui.dll
v2.5/lib/x64/Debug/GEARCegui.lib
v2.5/lib/x64/Release/GEARCegui.dll
v2.5/lib/x64/Release/GEARCegui.lib
v2.5/lib/x64/Debug/CEGUICoreWindowRendererSet_d.dll
v2.5/lib/x64/Release/CEGUICoreWindowRendererSet.dll
tests/bin/x64/Release/CEGUICoreWindowRendererSet.dll
tests/bin/Assets/G2Editor/cegui/fonts/DejaVuSans-10.font
tests/bin/Assets/G2Editor/cegui/fonts/DejaVuSans-12.font
tests/bin/x64/Debug/GEAREditor.dll
tests/bin/x64/Release/GEAREditor.dll
v2.5/GEAR Editor/GEAR Editor.vcxproj.user
v2.5/lib/x64/Debug/GEAREditor.dll
v2.5/lib/x64/Debug/GEAREditor.lib
v2.5/lib/x64/Release/GEAREditor.dll
v2.5/lib/x64/Release/GEAREditor.lib
tests/bin/x64/Debug/GEARSdlContext.dll
v2.5/GEAR SDL Context/GEAR SDL Context.vcxproj.user
v2.5/lib/x64/Debug/GEARSdlContext.dll
v2.5/lib/x64/Debug/GEARSdlContext.lib
