# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.pdb
*.log
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.obj
*.idb
*.sdf
*.exe
*.suo
*.opensdf
v2.5/lib/x64/Debug/g2.lib
